<div class="convo-bubble">
  <li>
    <div id="message-<%= message.id %>">
      <div class="message_current_user message"  id="<%= message.id %>">
        <%= message.content %><br>
      </div>

      <div style="text-align:right" class="message-time d-none" id="time-<%= message.id %>">
      <% if message.created_at.localtime.strftime("%a %b %e") == Date.today.strftime("%a %b %e") %>
        <small><%= message.created_at.localtime.strftime("%l:%M%p") %></small>
      <% elsif  message.created_at.localtime.strftime("%a %b %e") == Date.yesterday.strftime("%a %b %e") %>
        <small><%= message.created_at.localtime.strftime("Yesterday at %l:%M%p")%></small>
      <% else %>
        <small><% message.created_at.localtime.strftime("%a %b %e at %l:%M%p") %></small>
      <% end %>
      </div>
      
    </div>
  </li>
</div>
