<% content_for :meta_title, "#{@recipe.title} recipe is on #{DEFAULT_META["meta_product_name"]}" %>

<div class="page-vertical-offset">

  <div class="curved-div">
    <svg class="svg_recipe_abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FBFBFF" fill-opacity="1"
      d="M0,128L80,112C160,96,320,64,480,80C640,96,800,160,960,165.3C1120,171,1280,117,1360,90.7L1440,64L1440,
      320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
    <%= image_tag("#{@recipe.photo}", size:"500x400", alt: "Recipe image", class: "recipe_show_img") %>
  </div>


  <div class="container">

    <%# Recipe title %>
    <div class=" title_heart d-flex">
      <h1><%= @recipe.title %></h1>
      <%= render 'recipe_heart', recipe: @recipe %>
    </div>

    <br>
    <br>

    <%# Ingredients %>
    <p><strong>You will need</strong></p>
    <div>
      <% @recipe.ingredients_data.each do |ingredient_data| %>
        <div class="group">
          <% if @user_owned_ingredients_name.include?(ingredient_data["name"]) %>
            <input type="checkbox" checked name="ingredient_data"/>
          <% else %>
            <input type="checkbox" name="ingredient_data"/>
          <% end %>
          <label>
            <p>
              <strong>
                <% if (ingredient_data["measures"]["metric"]["amount"]) <= 0.5 %>
                  <%= (ingredient_data["measures"]["metric"]["amount"]).round(1)%>
                <% else (ingredient_data["measures"]["metric"]["amount"]) <=1 %>
                  <%= (ingredient_data["measures"]["metric"]["amount"]).round %>
                <% end %>
                <%= ingredient_data["measures"]["metric"]["unitLong"] %>
              </strong>
              <%= ingredient_data["name"] %>
            </p>
          </label>
        </div>
      <% end %>
    </div>

    <br>

    <%# Instructions %>
    <p><strong>DIRECTIONS</strong></p>
    <div>
      <% @recipe.steps_data.each do |step_data| %>
        <div class="recipe-direction">
          <p><strong><%= step_data["number"] %><span style="color: #45C28F"> | </span></strong>
          <%= step_data["step"]%></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
