<div class="container">
  <h1 style="text-align:center">Chats</h1>

  <div class="inbox-box overflow-auto">

    <% @messages.each do |message| %>


        <%= link_to(chatroom_path(message.chatroom.id)) do %>
        <div class="inbox-card">
          <div class="user-avatar">
            <%# Showing the other user's avatar %>
            <%= image_tag("https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_user-circle-512.png", height:'45', class:"message-user-avatar")%>
          </div>

          <div class="chat-info">

            <div class="chat-info-top">
              <%# Showing the other user's first name  %>
              <div class="chat-user">
                <%= message.other_user(current_user).first_name.downcase %> 
              </div>

              <%# Showing the date and time %>
              <div class="chat-last-mess-date">
                <% if message.created_at.strftime("%a %b %e") == Date.today.strftime("%a %b %e") %>
                  <small><%= message.created_at.strftime("%l:%M%p") %></small>
                <% elsif  message.created_at.strftime("%a %b %e") == Date.yesterday.strftime("%a %b %e") %>
                  <small><%= message.created_at.strftime("Yesterday at %l:%M%p")%></small>
                <% else %>
                  <small><% message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                <% end %>
              </div>

            </div>

            <div class="chat-info-bottom">
              <div class="chat-listing-and-message d-block">

                <%# Showing the food_trade's ingredient %>
                <div class="chat-listing">
                  <%= message.chatroom.food_trade.user_owned_ingredient.ingredient.name %>
                </div>

                <%# Showing the latest message %>
                <div class="chat-last-mess">
                  <% if message.chatroom.messages.last.content.chars.count <= 26 %>
                    <%= message.chatroom.messages.last.content.chars.first(26).join %>
                  <% else %>
                    <%= message.chatroom.messages.last.content.chars.first(26).join %>...
                  <% end %>
                </div>
              </div>

            </div>
          </div>   
        <% end %>
      </div>

    <% end %>
  </div>
</div>
