<h1>Chat with <%= @other_user.first_name %></h1>
<% @chatroom.messages.each do |message| %>
  <li>
    <strong> <%= message.sender.first_name %></strong>
    <%= message.content %>
  </li>
<% end %>

<div class="special-form">
  <%= simple_form_for @message do |f| %>
    <%= f.input :content, placeholder: "Type a Message" %>
    <%= f.hidden_field :sender_id, value: current_user.id %>
    <%= f.hidden_field :receiver_id, value: @other_user.id %>
    <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
    <div id="submit-button-container">
      <%= f.button :submit, "Send Message", class: "button-dark"%>
    </div>
  <% end %>
</div>

