<div class="container">
  <div class="profile-top">
    <h1 style="text-align:center">My profile</h1>
    <%= link_to edit_user_path(current_user) do %>
      <% image_tag "icons/edit.svg"%>
    <% end %>
  </div>
  <br>

  <div class="profile-info">
    <%= render 'shared/placeholder' %>

    <br>

    <div class="user-details">
      <p><strong>First name: </strong><%= @user.first_name %></p>
      <p><strong>Last name: </strong><%= @user.last_name %></p>
      <p><strong>Address: </strong><%= @user.address %></p>
    </div>
  </div>
</div>
