<div class="btm-navbar sticky" id="btm-navbar" >

  <%= link_to pantry_items_path, class: "btm-nav-icons" do %>
    <object data="<%= asset_path("icons/pantry.svg")%>" type="image/svg+xml" ></object>
  <% end %>
  <%= link_to saved_recipes_path, class: "btm-nav-icons" do %>
    <object data="<%= asset_path("icons/cookbook.svg") %>" type="image/svg+xml" ></object>
  <% end %>
  <%= link_to root_path, class: "btm-nav-icons" do %>
    <object data="<%= asset_path("icons/search-add.svg") %>" type="image/svg+xml" ></object>
  <% end %>
  <%= link_to food_trades_path, class: "btm-nav-icons" do %>
    <object data="<%= asset_path("icons/community.svg") %>" type="image/svg+xml" ></object>
  <% end %>
  <%= link_to chatrooms_path, class: "btm-nav-icons" do %>
    <object data="<%= asset_path("icons/message.svg") %>" type="image/svg+xml" ></object>
  <% end %>
</div>