<div class="container">
  <h1 class="text-center"> My pantry <%= image_tag("icons/garbage.svg", id: "pantry-remove-trigger") %></h1>

  <div class="pantry-container">
    <% @pantry_items.each do |pantry_item| %>
      <div class="pantry-card">
        <%= image_tag(pantry_item.ingredient.photo, class: "ingredient-photo") %>
        <%= content_tag(:p, pantry_item.ingredient.name.capitalize) %>
        <%#= link_to pantry_item_path(pantry_item.id), class: "pantry_hide pantry-remove", inner_html: { disabled: true }, method: :delete, data: { confirm: "Are you sure you want to #{pantry_item.ingredient.name.capitalize} from your pantry?" } do %>
          <%#= image_tag("icons/cross.svg") %>
        <%# end %>
        <a id="sweet-alert-pantry" class="pantry_hide pantry-remove" disabled="true"><%= image_tag("icons/cross.svg") %></a>
        <%= link_to "", pantry_item_path(pantry_item.id), class: "hidden", id:"delete-pantry-item", method: :delete %>
      </div>
    <% end %>
  </div>

  <div class="pantry-form">
    <%= simple_form_for @pantry_item do |f| %>
      <%= f.select :ingredient_id, collection: @addable_items %>
      <%= f.button :submit, "", class: "pantry-add-button" %>
    <% end %>
  </div>

</div>
