<div class="container">
  <h1 class="text-center"> My pantry  <i class="h6 mx-2 fas fa-trash" ></i> </h1>

  <div class="pantry-container">
    <% @pantry_items.each do |pantry_item| %>
      <div class="pantry-card">
        <%= image_tag(pantry_item.ingredient.photo) %>
        <%= content_tag(:p, pantry_item.ingredient.name.capitalize) %>
        <%= link_to pantry_item_path(pantry_item.id), method: :delete do %>
          <i class="text-right fas fa-times"></i>
        <% end %>

      </div>
    <% end %>
  </div>

  <div class="pantry-form">
    <%= simple_form_for @pantry_item do |f| %>
      <%= f.select :ingredient_id, collection: @addable_items %>
      <%= f.submit do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>

</div>
