<div class="container">

  <h1>Fruits</h1>
  <div class="cards">
    <div>
      <% @food_trades.shuffle.each do |food_trade| %>
        <div>
          <p><strong><%= food_trade.user_owned_ingredient.user.first_name %> : </strong><br>
          Food to trade: <%= link_to food_trade.user_owned_ingredient.ingredient.name.capitalize, food_trade_path(food_trade) %><br>
          Description: <%= food_trade.description %><br>
          Catgeory: <%= food_trade.category %><br>
          Address: <%= food_trade.location %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
