<div class="container">
  <div class="text-center">
    <h1>Fruits</h1>
    <br>
  </div>

  <div class="cards">
    <% @food_trades.each do |food_trade| %>
      <div class="small-food-card">
      <%= link_to food_trade_path(food_trade) do %>
        <% if food_trade.photo.attached? %>
          <%= cl_image_tag(food_trade.photo.key) %>
        <% else %>
          <%= image_tag("https://images.unsplash.com/photo-1521732813055-61b789f61463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", width: "100%", height: "70%", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe-image") %>
        <% end %>
        <p class="small-card-title"><%= food_trade.user_owned_ingredient.ingredient.name.capitalize %></p>
        <p class="small-card-content"> <%= food_trade.user_owned_ingredient.user.first_name %> </p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>







