<h1 style="text-align:center">Help Your Neighbors</h1>
<br>

<div class="container d-flex justify-content-center">
  <%= link_to "Add your own giveaway", new_food_trade_path, class: "btn button-dark"%>
</div>
<br>

<ul>
  <% @food_trades.shuffle.each do |food_trade| %>
    <li>
      <p><strong><%= food_trade.user_owned_ingredient.user.first_name %> : </strong><br>
      Food to trade: <%= link_to food_trade.user_owned_ingredient.ingredient.name.capitalize, food_trade_path(food_trade) %><br>
      Description: <%= food_trade.description %><br>
      Catgeory: <%= food_trade.category %><br>
      Address: <%= food_trade.location %></p>
    </li>
  <% end %>
</ul>

<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_APIKEY'] %>"></div>
<br>
