<div class="container">
  <div class="text-center">
    <h1>Meats</h1>
    <br>
  </div>

  <div class="cards">
    <% @food_trades.each do |food_trade| %>
      <div class="small-food-card">
        <%= link_to food_trade_path(food_trade) do %>
          <% if food_trade.photo.attached? %>
            <%= cl_image_tag(food_trade.photo.key) %>
          <% else %>
            <%= image_tag("https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", width: "100%", height: "70%", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe-image") %>
          <% end %>
          <p class="small-card-title"><%= food_trade.user_owned_ingredient.ingredient.name.capitalize %></p>
          <p class="small-card-content"> <%= food_trade.user_owned_ingredient.user.first_name %> </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
