<div class="container">
  <h1>Food Trade Details</h1>
  <ul>
    <li>
      <p><%= @food_trade.user_owned_ingredient.ingredient.name.capitalize %></p>
      <p><%= @food_trade.status %></p>
      <p><%= @food_trade.location %></p>
      <p><%= @food_trade.description %></p>
      <p><%= @food_trade.created_at %></p>
      <%= cl_image_tag(@food_trade.photo.key) %>
    </li>
  </ul>

  <% if current_user != @food_trade.user_owned_ingredient.user %>
    <%= render 'show_other_user'%>
  <% else %>
    <%= render 'show_owner'%>
  <% end %>
</div>
