<div class="container">
  <h1 style="text-align:center">My giveaways</h1>

    <% @food_trades.each do |food_trade| %>
      <%= link_to food_trade_path(food_trade) do %>
        <div class="wide-listing-card">

          <% if food_trade.photo.attached? %>
            <%= cl_image_tag(food_trade.photo.key, {class:"recipe_index_img giveaway_img"}) %>
          <% else %>
            <% if food_trade.category == "Veggies"%>
              <%= image_tag("https://images.unsplash.com/photo-1575218823251-f9d243b6f720?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", size:"150x90", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe_index_img giveaway_img") %>
            <% elsif food_trade.category == "Fruits" %>
              <%= image_tag("https://images.unsplash.com/photo-1521732813055-61b789f61463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", size:"150x90", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe_index_img giveaway_img") %>
            <% elsif food_trade.category == "Dairy" %>
              <%= image_tag("https://images.unsplash.com/photo-1550583724-b2692b85b150?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80", size:"150x90", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe_index_img giveaway_img") %>
            <% elsif food_trade.category == "Meats" %>
              <%= image_tag("https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", size:"150x90", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe_index_img giveaway_img") %>
            <% else %>
              <%= image_tag("https://images.unsplash.com/photo-1542990253-a781e04c0082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1884&q=80", size:"150x90", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe_index_img giveaway_img") %>
            <% end %>
          <% end %>
            <%#= image_tag("#{food_trade.user_owned_ingredient.ingredient.photo}", class: "recipe_index_img giveaway_img") %>

          <div class="wide-listing-card-title giveaway-info">
            <h2><%= food_trade.user_owned_ingredient.ingredient.name.capitalize %></h2>
            <% if food_trade.created_at.localtime.strftime("%Y") == Date.today.strftime("%Y") %>
              <p>Posted on <%= food_trade.created_at.localtime.strftime("%d %b") %></p>
            <% else %>
              <p>Posted on <%= food_trade.created_at.localtime.strftime("%d %b, %Y") %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
