<!DOCTYPE html>
<html>
  <head>
    <title>Don't Die Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Don't Die Food - Save them together!" />
    <meta property="og:description" 
          content="Customized recipes base on what you have, and a food-loving community to exchange food!" />
    <meta property="og:url" content="https://dont-die-food.herokuapp.com/" />
    <meta property="og:image" content="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/avocado_scream_avatar_food-512.png" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/avocado_scream_avatar_food-512.png">
  </head>

  <body>
    <%= render 'shared/flashes' %>
    
    <%# Navbar %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar_user' %>
    <% else%>
      <%= render 'shared/navbar_visitor' %>
    <% end %>
        
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <!-- adding padding-bottom on all pages to avoid btm navbar -->
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'shared/btm_navbar' %>

  </body>
</html>
