<!DOCTYPE html>
<html>
  <head>
    <title>DontDieFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# Navbar %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar_user' %>
    <% else%>
      <%= render 'shared/navbar_visitor' %>
    <% end %>
    <%= render 'shared/btm_navbar' %>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <%= yield %>

  </body>
</html>
